ul {
    padding: 0;
		font-size: 3em;
		font-family: sans-serif;
		font: courier;
}

h1 {
  margin-bottom: 2rem;
	font-size: 4em;
	font-family: sans-serif;
  color: #eaeaea;
}

h2 {
  margin-bottom: 1em;
}

/*Behavior of pill navigation*/
.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
    color: #f0e68c;
       background-color: transparent;
   		text-decoration: none;
   }

.nav-pills > li.active > a:hover {
   background-color: transparent;
   color: black;
}

.nav-pills > li > a:hover {
   background-color: transparent;
   color: black;
}

.nav-pills a{
  color: #eaeaea;
}

/*Wiggle underneath links*/
#contentBox a:hover
  {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-100%);}}%3C/style%3E%3Cpath fill='none' stroke='%23F00' stroke-width='1' class='st0' d='M0,3.5 c 0,0,10,-3,10,-3 s 0,0,10,3 c 0,0,10,-3,10,-3 s 0,0,10,3'/%3E%3C/svg%3E");
        background-position: 0 90%;
        background-size: auto .4em;
        background-repeat: repeat-x;
        padding-bottom: 4px;
        text-decoration: none;
}

/*wiggles below name*/
span.titleWobble{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E}%3C/style%3E%3Cpath fill='none' stroke='%23F00' stroke-width='1' class='st0' d='M0,3.5 c 0,0,10,-3,10,-3 s 0,0,10,3 c 0,0,10,-3,10,-3 s 0,0,10,3'/%3E%3C/svg%3E");
	background-position: 0 1em;
	background-size: auto 10px;
	background-repeat: repeat-x;
	padding-bottom: .1em;
	text-decoration: none;
}

#contentBox{
  background-color: white;
}

#about{
  padding:2em;
}

#illustration{
  padding:2em;
}

#science{
  padding:2em;
}

#tabs{
  height: 2em;
}


html, body {
    margin: 0px;
    padding: 0px;
}
html {
    width:100%;
    height: 100%;
}

body{
  line-height: 1.4em;
  font-size: 16px;
  background: linear-gradient(42deg, #4dd8f4, #nv
    );
  background-size: 400% 400%;
  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 50%}
    100%{background-position:97% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 50%}
    100%{background-position:97% 0%}
}
@keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 50%}
    100%{background-position:97% 0%}
}
